# Mel Jensen

## Research question/interests

My main research question is are people that have higher Openness to Experirence also have higher Agreeableness. I will focus on looking at the scores of those two traits to see if they often have high correlation.

In [ ]:
import opendatasets as od
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
file = ('../data/raw/data.csv')
df = pd.read_csv(file, sep='\t')

df

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,11,15,1,2,1,2,SG,1,4,3,...,1,3,5,3,4,1,4,2,5,3
19715,3,37,1,2,1,2,US,2,3,2,...,1,2,3,2,3,3,4,2,3,3
19716,5,16,2,1,1,2,US,2,5,4,...,5,3,1,3,4,1,1,5,5,5
19717,12,16,1,1,1,5,NG,1,4,2,...,3,2,5,3,4,1,5,3,5,5
19718,3,35,1,1,1,1,US,2,3,1,...,5,1,5,1,4,1,5,5,5,5

## EDA

In [ ]:
df.columns

Index(['race', 'age', 'engnat', 'gender', 'hand', 'source', 'country', 'E1',
       'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'N1', 'N2', 'N3',
       'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'A1', 'A2', 'A3', 'A4', 'A5',
       'A6', 'A7', 'A8', 'A9', 'A10', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7',
       'C8', 'C9', 'C10', 'O1', 'O2', 'O3', 'O4', 'O5', 'O6', 'O7', 'O8', 'O9',
       'O10'],
      dtype='object')

## Defining which columns go with which trait
### E = Extroversion
### N = Neruoticism
### A = Agreeableness
### C = Conscientiousness
### O = Openness to Experience

The traits I am using for my analysis are A and O

## Which columns are positive vs negative attributes
A1 -<br/>
A2 +<br/>
A3 -<br/>
A4 +<br/>
A5 -<br/>
A6 +<br/>
A7 -<br/>
A8 +<br/>
A9 +<br/>
A10 +<br/>
O1 +<br/>
O2 -<br/>
O3 +<br/>
O4 -<br/>
O5 +<br/>
O6 -<br/>
O7 +<br/>
O8 +<br/>
O9 +<br/>
O10 +<br/>

In [ ]:
## From these I need to pull the columns I need and convert them to negative values if needed

NewA1=-(df['A1'])
NewA2=(df['A2'])
NewA3=-(df['A3'])
NewA4=(df['A4'])
NewA5=-(df['A5'])
NewA6=(df['A6'])
NewA7=-(df['A7'])
NewA8=(df['A8'])
NewA9=(df['A9'])
NewA10=(df['A10'])
NewO1=(df['O1'])
NewO2=-(df['O2'])
NewO3=(df['O3'])
NewO4=-(df['O4'])
NewO5=(df['O5'])
NewO6=-(df['O6'])
NewO7=(df['O7'])
NewO8=(df['O8'])
NewO9=(df['O9'])
NewO10=(df['O10'])
NewE1=(df['E1'])
NewE2=-(df['E2'])
NewE3=(df['E3'])
NewE4=-(df['E4'])
NewE5=(df['E5'])
NewE6=-(df['E6'])
NewE7=(df['E7'])
NewE8=-(df['E8'])
NewE9=(df['E9'])
NewE10=-(df['E10'])
NewN1=-(df['N1'])
NewN2=(df['N2'])
NewN3=-(df['N3'])
NewN4=(df['N4'])
NewN5=-(df['N5'])
NewN6=-(df['N6'])
NewN7=-(df['N7'])
NewN8=-(df['N8'])
NewN9=-(df['N9'])
NewN10=-(df['N10'])
NewC1=(df['C1'])
NewC2=-(df['C2'])
NewC3=(df['C3'])
NewC4=-(df['C4'])
NewC5=(df['C5'])
NewC6=-(df['C6'])
NewC7=(df['C7'])
NewC8=-(df['C8'])
NewC9=(df['C9'])
NewC10=(df['C10'])

In [ ]:
## Create a dataframe with the values I need
frames=[NewA1, NewA2, NewA3, NewA4, NewA5, NewA6, NewA7, NewA8, NewA9, NewA10,
    NewO1, NewO2, NewO3, NewO4, NewO5, NewO6, NewO7, NewO8, NewO9, NewO10]
df2 = pd.concat(frames, axis=1)
df2

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,-1,5,-1,5,-2,3,-1,5,4,5,4,-1,3,-1,5,-1,4,2,5,5
1,-1,3,-3,4,-4,4,-2,3,4,3,3,-3,3,-3,2,-3,3,1,3,2
2,-5,1,-5,5,-1,5,-1,5,5,5,4,-5,5,-1,5,-1,5,5,5,5
3,-2,5,-4,4,-3,5,-3,4,4,3,4,-3,5,-2,4,-2,5,2,5,5
4,-5,5,-3,5,-1,5,-1,5,5,5,3,-1,1,-1,3,-1,3,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,-5,5,-1,5,-1,5,-1,1,5,5,1,-3,5,-3,4,-1,4,2,5,3
19715,-2,3,-2,4,-2,4,-2,3,3,3,1,-2,3,-2,3,-3,4,2,3,3
19716,-4,3,-5,2,-5,5,-2,4,1,3,5,-3,1,-3,4,-1,1,5,5,5
19717,-3,3,-2,4,-2,4,-2,5,4,3,3,-2,5,-3,4,-1,5,3,5,5
19718,-3,3,-2,3,-3,5,-3,5,2,4,5,-1,5,-1,4,-1,5,5,5,5

In [ ]:
## Dataframe with A values
Aframes=[NewA1, NewA2, NewA3, NewA4, NewA5, NewA6, NewA7, NewA8, NewA9, NewA10]
Aframe = pd.concat(Aframes, axis=1)
Aframe

       A1  A2  A3  A4  A5  A6  A7  A8  A9  A10
0      -1   5  -1   5  -2   3  -1   5   4    5
1      -1   3  -3   4  -4   4  -2   3   4    3
2      -5   1  -5   5  -1   5  -1   5   5    5
3      -2   5  -4   4  -3   5  -3   4   4    3
4      -5   5  -3   5  -1   5  -1   5   5    5
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19714  -5   5  -1   5  -1   5  -1   1   5    5
19715  -2   3  -2   4  -2   4  -2   3   3    3
19716  -4   3  -5   2  -5   5  -2   4   1    3
19717  -3   3  -2   4  -2   4  -2   5   4    3
19718  -3   3  -2   3  -3   5  -3   5   2    4

[19719 rows x 10 columns]

In [ ]:
## Dataframe with O values
Oframes=[NewO1, NewO2, NewO3, NewO4, NewO5, NewO6, NewO7, NewO8, NewO9, NewO10]
Oframe = pd.concat(Oframes, axis=1)
Oframe

       O1  O2  O3  O4  O5  O6  O7  O8  O9  O10
0       4  -1   3  -1   5  -1   4   2   5    5
1       3  -3   3  -3   2  -3   3   1   3    2
2       4  -5   5  -1   5  -1   5   5   5    5
3       4  -3   5  -2   4  -2   5   2   5    5
4       3  -1   1  -1   3  -1   3   1   5    3
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19714   1  -3   5  -3   4  -1   4   2   5    3
19715   1  -2   3  -2   3  -3   4   2   3    3
19716   5  -3   1  -3   4  -1   1   5   5    5
19717   3  -2   5  -3   4  -1   5   3   5    5
19718   5  -1   5  -1   4  -1   5   5   5    5

[19719 rows x 10 columns]

In [ ]:
Eframes=[NewE1, NewE2, NewE3, NewE4, NewE5, NewE6, NewE7, NewE8, NewE9, NewE10]
Eframe = pd.concat(Eframes, axis=1)
Eframe

       E1  E2  E3  E4  E5  E6  E7  E8  E9  E10
0       4  -2   5  -2   5  -1   4  -3   5   -1
1       2  -2   3  -3   3  -3   1  -5   1   -5
2       5  -1   1  -4   5  -1   1  -5   5   -1
3       2  -5   2  -4   3  -4   3  -4   4   -5
4       3  -1   3  -3   3  -1   3  -1   3   -5
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19714   1  -4   3  -5   4  -3   1  -2   1   -5
19715   2  -3   2  -3   2  -3   2  -4   4   -4
19716   2  -5   4  -5   5  -5   1  -2   1   -5
19717   1  -4   2  -3   2  -4   1  -3   4   -5
19718   2  -3   1  -5   3  -3   3  -2   2   -4

[19719 rows x 10 columns]

In [ ]:
Nframes=[NewN1, NewN2, NewN3, NewN4, NewN5, NewN6, NewN7, NewN8, NewN9, NewN10]
Nframe = pd.concat(Nframes, axis=1)
Nframe

       N1  N2  N3  N4  N5  N6  N7  N8  N9  N10
0      -1   5  -2   5  -1  -1  -1  -1  -1   -1
1      -2   3  -4   2  -3  -4  -3  -2  -2   -4
2      -5   1  -5   5  -5  -5  -5  -5  -5   -5
3      -5   4  -4   2  -4  -5  -5  -5  -4   -5
4      -3   3  -3   4  -3  -3  -3  -3  -3   -4
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19714  -5   3  -5   3  -4  -5  -4  -4  -4   -4
19715  -2   4  -2   4  -3  -2  -2  -2  -2   -2
19716  -5   1  -5   1  -5  -5  -5  -5  -5   -5
19717  -4   3  -5   2  -4  -4  -4  -4  -4   -4
19718  -5   2  -5   2  -3  -3  -4  -3  -2   -4

[19719 rows x 10 columns]

In [ ]:
Cframes=[NewC1, NewC2, NewC3, NewC4, NewC5, NewC6, NewC7, NewC8, NewC9, NewC10]
Cframe = pd.concat(Cframes, axis=1)
Cframe

       C1  C2  C3  C4  C5  C6  C7  C8  C9  C10
0       4  -1   5  -1   5  -1   4  -1   4    5
1       4  -1   3  -2   3  -1   5  -1   4    4
2       4  -1   5  -1   5  -1   5  -1   5    5
3       3  -3   4  -5   1  -4   5  -4   2    3
4       3  -1   5  -3   3  -1   1  -3   3    3
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19714   3  -2   5  -3   3  -3   4  -3   4    4
19715   3  -3   4  -2   2  -4   4  -2   3    3
19716   2  -5   5  -5   4  -5   1  -4   1    5
19717   5  -3   5  -2   4  -2   5  -1   3    5
19718   5  -3   5  -4   5  -4   4  -3   2    5

[19719 rows x 10 columns]

In [ ]:
## Sum A values
sumA = Aframe.sum(axis = 1)
sumA

0        22
1        11
2        14
3        13
4        20
         ..
19714    18
19715    12
19716     2
19717    14
19718    11
Length: 19719, dtype: int64

In [ ]:
## Sum O values
sumO = Oframe.sum(axis = 1)
sumO

0        25
1         8
2        27
3        23
4        16
         ..
19714    17
19715    12
19716    19
19717    24
19718    31
Length: 19719, dtype: int64

In [ ]:
## Sum E values
sumE = Eframe.sum(axis = 1)
sumE

0        14
1        -8
2         5
3        -8
4         4
         ..
19714    -9
19715    -5
19716    -9
19717    -9
19718    -6
Length: 19719, dtype: int64

In [ ]:
## Sum N values
sumN = Nframe.sum(axis = 1)
sumN

0         1
1       -19
2       -34
3       -31
4       -18
         ..
19714   -29
19715    -9
19716   -38
19717   -28
19718   -25
Length: 19719, dtype: int64

In [ ]:
## Sum C values
sumC = Cframe.sum(axis = 1)
sumC

0        23
1        18
2        25
3         2
4        10
         ..
19714    12
19715     8
19716    -1
19717    19
19718    12
Length: 19719, dtype: int64

In [ ]:
## Dataframe with total scores
sumframes=[sumA, sumO, sumE, sumN, sumC]
sumframe = pd.concat(sumframes, axis=1)
sumframe = sumframe.rename(columns={0:'sumA', 1:'sumO', 2:'sumE', 3:'sumN', 4:'sumC'})
sumframe

       sumA  sumO  sumE  sumN  sumC
0        22    25    14     1    23
1        11     8    -8   -19    18
2        14    27     5   -34    25
3        13    23    -8   -31     2
4        20    16     4   -18    10
...     ...   ...   ...   ...   ...
19714    18    17    -9   -29    12
19715    12    12    -5    -9     8
19716     2    19    -9   -38    -1
19717    14    24    -9   -28    19
19718    11    31    -6   -25    12

[19719 rows x 5 columns]

In [ ]:
sns.set(rc={'figure.figsize':(20, 20)})
sns.lineplot(data=sumframe)

In [ ]:
print(f' The max score of A is {max(sumA)}')
print(f' The max score of O is {max(sumO)}')
print(f' The max score of E is {max(sumE)}')
print(f' The max score of N is {max(sumN)}')
print(f' The max score of C is {max(sumC)}')
print(f' The min score of A is {min(sumA)}')
print(f' The min score of O is {min(sumO)}')
print(f' The min score of E is {min(sumE)}')
print(f' The min score of N is {min(sumN)}')
print(f' The min score of C is {min(sumC)}')

In [ ]:
print(np.argmax(sumA))
print(np.argmax(sumO))

In [ ]:
sortedSums = sumframe.sort_values(by=['sumA'])
sortedSums.index=range(19719)
sortedSums

In [ ]:
#sns.set(rc={'figure.figsize':(20, 20)})
sns.lineplot(data=sortedSums)

In [ ]:
sortedSums = sumframe.sort_values(by=['sumO'])
sortedSums.index=range(19719)
sortedSums

In [ ]:
sns.lineplot(data=sortedSums)

In [ ]:
sortedSums = sumframe.sort_values(by=['sumE'])
sortedSums.index=range(19719)
sortedSums

In [ ]:
sns.lineplot(data=sortedSums)

In [ ]:
sortedSums = sumframe.sort_values(by=['sumN'])
sortedSums.index=range(19719)
sortedSums

In [ ]:
sns.lineplot(data=sortedSums)

In [ ]:
sortedSums = sumframe.sort_values(by=['sumC'])
sortedSums.index=range(19719)
sortedSums

In [ ]:
sns.lineplot(data=sortedSums)

In [ ]:
AO = sumframe['sumA'].corr(sumframe['sumO'])
AE = sumframe['sumA'].corr(sumframe['sumE'])
AN = sumframe['sumA'].corr(sumframe['sumN'])
AC = sumframe['sumA'].corr(sumframe['sumC'])

In [ ]:
OA = sumframe['sumO'].corr(sumframe['sumA'])
OE = sumframe['sumO'].corr(sumframe['sumE'])
ON = sumframe['sumO'].corr(sumframe['sumN'])
OC = sumframe['sumO'].corr(sumframe['sumC'])

In [ ]:
EA = sumframe['sumE'].corr(sumframe['sumA'])
EO = sumframe['sumE'].corr(sumframe['sumO'])
EN = sumframe['sumE'].corr(sumframe['sumN'])
EC = sumframe['sumE'].corr(sumframe['sumC'])

In [ ]:
NA = sumframe['sumN'].corr(sumframe['sumA'])
NO = sumframe['sumN'].corr(sumframe['sumO'])
NE = sumframe['sumN'].corr(sumframe['sumE'])
NC = sumframe['sumN'].corr(sumframe['sumC'])

In [ ]:
CA = sumframe['sumC'].corr(sumframe['sumA'])
CO = sumframe['sumC'].corr(sumframe['sumO'])
CE = sumframe['sumC'].corr(sumframe['sumE'])
CN = sumframe['sumC'].corr(sumframe['sumN'])

In [ ]:
print(f'Correlation between A trait and O trait is {AO}')
print(f'Correlation between A trait and E trait is {AE}')
print(f'Correlation between A trait and N trait is {AN}')
print(f'Correlation between A trait and C trait is {AC}')
print(f'Correlation between O trait and A trait is {OA}')
print(f'Correlation between O trait and E trait is {OE}')
print(f'Correlation between O trait and N trait is {ON}')
print(f'Correlation between O trait and C trait is {OC}')
print(f'Correlation between E trait and A trait is {EA}')
print(f'Correlation between E trait and O trait is {EO}')
print(f'Correlation between E trait and N trait is {EN}')
print(f'Correlation between E trait and C trait is {EC}')
print(f'Correlation between N trait and A trait is {NA}')
print(f'Correlation between N trait and O trait is {NO}')
print(f'Correlation between N trait and E trait is {NE}')
print(f'Correlation between N trait and C trait is {NC}')
print(f'Correlation between C trait and A trait is {CA}')
print(f'Correlation between C trait and O trait is {CO}')
print(f'Correlation between C trait and E trait is {CE}')
print(f'Correlation between C trait and N trait is {CN}')

Correlation between A trait and O trait is 0.11643950403688737
Correlation between A trait and E trait is 0.3339461133556808
Correlation between A trait and N trait is 0.111730751148484
Correlation between A trait and C trait is 0.17594929804399828
Correlation between O trait and A trait is 0.11643950403688738
Correlation between O trait and E trait is 0.16607040113766772
Correlation between O trait and N trait is 0.10048213768252039
Correlation between O trait and C trait is 0.08623283710416178
Correlation between E trait and A trait is 0.3339461133556808
Correlation between E trait and O trait is 0.16607040113766774
Correlation between E trait and N trait is 0.26244087457327514
Correlation between E trait and C trait is 0.10618769341222153
Correlation between N trait and A trait is 0.111730751148484
Correlation between N trait and O trait is 0.10048213768252039
Correlation between N trait and E trait is 0.26244087457327514
Correlation between N trait and C trait is 0.25958471218830026
Correlation between C trait and A trait is 0.17594929804399825
Correlation between C trait and O trait is 0.08623283710416178
Correlation between C trait and E trait is 0.10618769341222153
Correlation between C trait and N trait is 0.2595847121883003

In [ ]:
CC = sumframe['sumC'].corr(sumframe['sumC'])
CC

1.0