# Mel Jensen

## Research question/interests

My main research question is are people that have higher Openness to Experirence also have higher Agreeableness. I will focus on looking at the scores of those two traits to see if they often have high correlation.

In [1]:
import opendatasets as od
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
file = ('../data/raw/data.csv')
df = pd.read_csv(file, sep='\t')

df

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,11,15,1,2,1,2,SG,1,4,3,...,1,3,5,3,4,1,4,2,5,3
19715,3,37,1,2,1,2,US,2,3,2,...,1,2,3,2,3,3,4,2,3,3
19716,5,16,2,1,1,2,US,2,5,4,...,5,3,1,3,4,1,1,5,5,5
19717,12,16,1,1,1,5,NG,1,4,2,...,3,2,5,3,4,1,5,3,5,5
19718,3,35,1,1,1,1,US,2,3,1,...,5,1,5,1,4,1,5,5,5,5

## EDA

In [3]:
df.columns

Index(['race', 'age', 'engnat', 'gender', 'hand', 'source', 'country', 'E1',
       'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'N1', 'N2', 'N3',
       'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'A1', 'A2', 'A3', 'A4', 'A5',
       'A6', 'A7', 'A8', 'A9', 'A10', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7',
       'C8', 'C9', 'C10', 'O1', 'O2', 'O3', 'O4', 'O5', 'O6', 'O7', 'O8', 'O9',
       'O10'],
      dtype='object')

## I need to remove rows that have a 0 as 0 indicates missed values

In [4]:
dfnoZero = df.loc[(df!=0).all(axis=1)]
dfnoZero.index=range(19384)
dfnoZero

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,11,15,1,2,1,2,SG,1,4,3,...,1,3,5,3,4,1,4,2,5,3
19380,3,37,1,2,1,2,US,2,3,2,...,1,2,3,2,3,3,4,2,3,3
19381,5,16,2,1,1,2,US,2,5,4,...,5,3,1,3,4,1,1,5,5,5
19382,12,16,1,1,1,5,NG,1,4,2,...,3,2,5,3,4,1,5,3,5,5
19383,3,35,1,1,1,1,US,2,3,1,...,5,1,5,1,4,1,5,5,5,5

## Defining which columns go with which trait
### E = Extroversion
### N = Neruoticism
### A = Agreeableness
### C = Conscientiousness
### O = Openness to Experience

The traits I am using for my analysis are A and O

## Which columns are positive vs negative attributes
A1 -  &nbsp; &nbsp;E1 +  &nbsp; &nbsp;C1 +<br/>
A2 +  &nbsp; &nbsp;E2 -  &nbsp; &nbsp;C2 -<br/>
A3 -  &nbsp; &nbsp;E3 +  &nbsp; &nbsp;C3 +<br/>
A4 +  &nbsp; &nbsp;E4 -  &nbsp; &nbsp;C4 -<br/>
A5 -  &nbsp; &nbsp;E5 +  &nbsp; &nbsp;C5 +<br/>
A6 +  &nbsp; &nbsp;E6 -  &nbsp; &nbsp;C6 -<br/>
A7 -  &nbsp; &nbsp;E7 +  &nbsp; &nbsp;C7 +<br/>
A8 +  &nbsp; &nbsp;E8 -  &nbsp; &nbsp;C8 -<br/>
A9 +  &nbsp; &nbsp;E9 +  &nbsp; &nbsp;C9 +<br/>
A10 +  &nbsp; &nbsp;E10 -  &nbsp; &nbsp;C10 +<br/>
O1 +  &nbsp; &nbsp;N1 -  &nbsp; &nbsp;<br/>
O2 -  &nbsp; &nbsp;N2 +  &nbsp; &nbsp;<br/>
O3 +  &nbsp; &nbsp;N3 -  &nbsp; &nbsp;<br/>
O4 -  &nbsp; &nbsp;N4 +  &nbsp; &nbsp;<br/>
O5 +  &nbsp; &nbsp;N5 -  &nbsp; &nbsp;<br/>
O6 -  &nbsp; &nbsp;N6 -  &nbsp; &nbsp;<br/>
O7 +  &nbsp; &nbsp;N7 -  &nbsp; &nbsp;<br/>
O8 +  &nbsp; &nbsp;N8 -  &nbsp; &nbsp;<br/>
O9 +  &nbsp; &nbsp;N9 -  &nbsp; &nbsp;<br/>
O10 +  &nbsp; &nbsp;N10 -  &nbsp; &nbsp;<br/>

In [5]:
## From these I need to pull the values convert them to negative values if needed

NewA1=-(dfnoZero['A1'])
NewA2=(dfnoZero['A2'])
NewA3=-(dfnoZero['A3'])
NewA4=(dfnoZero['A4'])
NewA5=-(dfnoZero['A5'])
NewA6=(dfnoZero['A6'])
NewA7=-(dfnoZero['A7'])
NewA8=(dfnoZero['A8'])
NewA9=(dfnoZero['A9'])
NewA10=(dfnoZero['A10'])
NewO1=(dfnoZero['O1'])
NewO2=-(dfnoZero['O2'])
NewO3=(dfnoZero['O3'])
NewO4=-(dfnoZero['O4'])
NewO5=(dfnoZero['O5'])
NewO6=-(dfnoZero['O6'])
NewO7=(dfnoZero['O7'])
NewO8=(dfnoZero['O8'])
NewO9=(dfnoZero['O9'])
NewO10=(dfnoZero['O10'])
NewE1=(dfnoZero['E1'])
NewE2=-(dfnoZero['E2'])
NewE3=(dfnoZero['E3'])
NewE4=-(dfnoZero['E4'])
NewE5=(dfnoZero['E5'])
NewE6=-(dfnoZero['E6'])
NewE7=(dfnoZero['E7'])
NewE8=-(dfnoZero['E8'])
NewE9=(dfnoZero['E9'])
NewE10=-(dfnoZero['E10'])
NewN1=-(dfnoZero['N1'])
NewN2=(dfnoZero['N2'])
NewN3=-(dfnoZero['N3'])
NewN4=(dfnoZero['N4'])
NewN5=-(dfnoZero['N5'])
NewN6=-(dfnoZero['N6'])
NewN7=-(dfnoZero['N7'])
NewN8=-(dfnoZero['N8'])
NewN9=-(dfnoZero['N9'])
NewN10=-(dfnoZero['N10'])
NewC1=(dfnoZero['C1'])
NewC2=-(dfnoZero['C2'])
NewC3=(dfnoZero['C3'])
NewC4=-(dfnoZero['C4'])
NewC5=(dfnoZero['C5'])
NewC6=-(dfnoZero['C6'])
NewC7=(dfnoZero['C7'])
NewC8=-(dfnoZero['C8'])
NewC9=(dfnoZero['C9'])
NewC10=(dfnoZero['C10'])

In [6]:
## Create a dataframe with the values I need
##frames=[NewA1, NewA2, NewA3, NewA4, NewA5, NewA6, NewA7, NewA8, NewA9, NewA10,
##    NewO1, NewO2, NewO3, NewO4, NewO5, NewO6, NewO7, NewO8, NewO9, NewO10]
##df2 = pd.concat(frames, axis=1)
##df2

In [7]:
## Dataframe with A values
Aframes=[NewA1, NewA2, NewA3, NewA4, NewA5, NewA6, NewA7, NewA8, NewA9, NewA10]
Aframe = pd.concat(Aframes, axis=1)
Aframe

       A1  A2  A3  A4  A5  A6  A7  A8  A9  A10
0      -1   5  -1   5  -2   3  -1   5   4    5
1      -1   3  -3   4  -4   4  -2   3   4    3
2      -5   1  -5   5  -1   5  -1   5   5    5
3      -2   5  -4   4  -3   5  -3   4   4    3
4      -5   5  -3   5  -1   5  -1   5   5    5
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19379  -5   5  -1   5  -1   5  -1   1   5    5
19380  -2   3  -2   4  -2   4  -2   3   3    3
19381  -4   3  -5   2  -5   5  -2   4   1    3
19382  -3   3  -2   4  -2   4  -2   5   4    3
19383  -3   3  -2   3  -3   5  -3   5   2    4

[19384 rows x 10 columns]

In [8]:
## Dataframe with O values
Oframes=[NewO1, NewO2, NewO3, NewO4, NewO5, NewO6, NewO7, NewO8, NewO9, NewO10]
Oframe = pd.concat(Oframes, axis=1)
Oframe

       O1  O2  O3  O4  O5  O6  O7  O8  O9  O10
0       4  -1   3  -1   5  -1   4   2   5    5
1       3  -3   3  -3   2  -3   3   1   3    2
2       4  -5   5  -1   5  -1   5   5   5    5
3       4  -3   5  -2   4  -2   5   2   5    5
4       3  -1   1  -1   3  -1   3   1   5    3
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19379   1  -3   5  -3   4  -1   4   2   5    3
19380   1  -2   3  -2   3  -3   4   2   3    3
19381   5  -3   1  -3   4  -1   1   5   5    5
19382   3  -2   5  -3   4  -1   5   3   5    5
19383   5  -1   5  -1   4  -1   5   5   5    5

[19384 rows x 10 columns]

In [9]:
Eframes=[NewE1, NewE2, NewE3, NewE4, NewE5, NewE6, NewE7, NewE8, NewE9, NewE10]
Eframe = pd.concat(Eframes, axis=1)
Eframe

       E1  E2  E3  E4  E5  E6  E7  E8  E9  E10
0       4  -2   5  -2   5  -1   4  -3   5   -1
1       2  -2   3  -3   3  -3   1  -5   1   -5
2       5  -1   1  -4   5  -1   1  -5   5   -1
3       2  -5   2  -4   3  -4   3  -4   4   -5
4       3  -1   3  -3   3  -1   3  -1   3   -5
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19379   1  -4   3  -5   4  -3   1  -2   1   -5
19380   2  -3   2  -3   2  -3   2  -4   4   -4
19381   2  -5   4  -5   5  -5   1  -2   1   -5
19382   1  -4   2  -3   2  -4   1  -3   4   -5
19383   2  -3   1  -5   3  -3   3  -2   2   -4

[19384 rows x 10 columns]

In [10]:
Nframes=[NewN1, NewN2, NewN3, NewN4, NewN5, NewN6, NewN7, NewN8, NewN9, NewN10]
Nframe = pd.concat(Nframes, axis=1)
Nframe

       N1  N2  N3  N4  N5  N6  N7  N8  N9  N10
0      -1   5  -2   5  -1  -1  -1  -1  -1   -1
1      -2   3  -4   2  -3  -4  -3  -2  -2   -4
2      -5   1  -5   5  -5  -5  -5  -5  -5   -5
3      -5   4  -4   2  -4  -5  -5  -5  -4   -5
4      -3   3  -3   4  -3  -3  -3  -3  -3   -4
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19379  -5   3  -5   3  -4  -5  -4  -4  -4   -4
19380  -2   4  -2   4  -3  -2  -2  -2  -2   -2
19381  -5   1  -5   1  -5  -5  -5  -5  -5   -5
19382  -4   3  -5   2  -4  -4  -4  -4  -4   -4
19383  -5   2  -5   2  -3  -3  -4  -3  -2   -4

[19384 rows x 10 columns]

In [11]:
Cframes=[NewC1, NewC2, NewC3, NewC4, NewC5, NewC6, NewC7, NewC8, NewC9, NewC10]
Cframe = pd.concat(Cframes, axis=1)
Cframe

       C1  C2  C3  C4  C5  C6  C7  C8  C9  C10
0       4  -1   5  -1   5  -1   4  -1   4    5
1       4  -1   3  -2   3  -1   5  -1   4    4
2       4  -1   5  -1   5  -1   5  -1   5    5
3       3  -3   4  -5   1  -4   5  -4   2    3
4       3  -1   5  -3   3  -1   1  -3   3    3
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
19379   3  -2   5  -3   3  -3   4  -3   4    4
19380   3  -3   4  -2   2  -4   4  -2   3    3
19381   2  -5   5  -5   4  -5   1  -4   1    5
19382   5  -3   5  -2   4  -2   5  -1   3    5
19383   5  -3   5  -4   5  -4   4  -3   2    5

[19384 rows x 10 columns]

In [12]:
## Sum A values
sumA = Aframe.sum(axis = 1)
sumA

0        22
1        11
2        14
3        13
4        20
         ..
19379    18
19380    12
19381     2
19382    14
19383    11
Length: 19384, dtype: int64

In [13]:
## Sum O values
sumO = Oframe.sum(axis = 1)
sumO

0        25
1         8
2        27
3        23
4        16
         ..
19379    17
19380    12
19381    19
19382    24
19383    31
Length: 19384, dtype: int64

In [14]:
## Sum E values
sumE = Eframe.sum(axis = 1)
sumE

0        14
1        -8
2         5
3        -8
4         4
         ..
19379    -9
19380    -5
19381    -9
19382    -9
19383    -6
Length: 19384, dtype: int64

In [15]:
## Sum N values
sumN = Nframe.sum(axis = 1)
sumN

0         1
1       -19
2       -34
3       -31
4       -18
         ..
19379   -29
19380    -9
19381   -38
19382   -28
19383   -25
Length: 19384, dtype: int64

In [16]:
## Sum C values
sumC = Cframe.sum(axis = 1)
sumC

0        23
1        18
2        25
3         2
4        10
         ..
19379    12
19380     8
19381    -1
19382    19
19383    12
Length: 19384, dtype: int64

In [17]:
## Dataframe with total scores
sumframes=[sumA, sumO, sumE, sumN, sumC]
sumframe = pd.concat(sumframes, axis=1)
sumframe = sumframe.rename(columns={0:'sumA', 1:'sumO', 2:'sumE', 3:'sumN', 4:'sumC'})
sumframe

       sumA  sumO  sumE  sumN  sumC
0        22    25    14     1    23
1        11     8    -8   -19    18
2        14    27     5   -34    25
3        13    23    -8   -31     2
4        20    16     4   -18    10
...     ...   ...   ...   ...   ...
19379    18    17    -9   -29    12
19380    12    12    -5    -9     8
19381     2    19    -9   -38    -1
19382    14    24    -9   -28    19
19383    11    31    -6   -25    12

[19384 rows x 5 columns]

In [18]:
#sns.set(rc={'figure.figsize':(20, 20)})
#sns.lineplot(data=sumframe)

In [19]:
print(f' The max score of A is {max(sumA)}')
print(f' The max score of O is {max(sumO)}')
print(f' The max score of E is {max(sumE)}')
print(f' The max score of N is {max(sumN)}')
print(f' The max score of C is {max(sumC)}')
print(f' The min score of A is {min(sumA)}')
print(f' The min score of O is {min(sumO)}')
print(f' The min score of E is {min(sumE)}')
print(f' The min score of N is {min(sumN)}')
print(f' The min score of C is {min(sumC)}')

 The max score of A is 26
 The max score of O is 32
 The max score of E is 20
 The max score of N is 2
 The max score of C is 26
 The min score of A is -14
 The min score of O is -8
 The min score of E is -20
 The min score of N is -38
 The min score of C is -14

In [20]:
#print(np.argmax(sumA))
#print(np.argmax(sumO))

In [21]:
#sortedSums = sumframe.sort_values(by=['sumA'])
#sortedSums.index=range(19719)
#sortedSums

In [22]:
#sns.set(rc={'figure.figsize':(20, 20)})
#sns.lineplot(data=sortedSums)

In [23]:
#sortedSums = sumframe.sort_values(by=['sumO'])
#sortedSums.index=range(19719)
#sortedSums

In [24]:
#sns.lineplot(data=sortedSums)

In [25]:
#sortedSums = sumframe.sort_values(by=['sumE'])
#sortedSums.index=range(19719)
#sortedSums

In [26]:
#sns.lineplot(data=sortedSums)

In [27]:
#sortedSums = sumframe.sort_values(by=['sumN'])
#sortedSums.index=range(19719)
#sortedSums

In [28]:
#sns.lineplot(data=sortedSums)

In [29]:
#sortedSums = sumframe.sort_values(by=['sumC'])
#sortedSums.index=range(19719)
#sortedSums

In [30]:
#sns.lineplot(data=sortedSums)

In [31]:
AO = sumframe['sumA'].corr(sumframe['sumO'])
AE = sumframe['sumA'].corr(sumframe['sumE'])
AN = sumframe['sumA'].corr(sumframe['sumN'])
AC = sumframe['sumA'].corr(sumframe['sumC'])

In [32]:
OA = sumframe['sumO'].corr(sumframe['sumA'])
OE = sumframe['sumO'].corr(sumframe['sumE'])
ON = sumframe['sumO'].corr(sumframe['sumN'])
OC = sumframe['sumO'].corr(sumframe['sumC'])

In [33]:
EA = sumframe['sumE'].corr(sumframe['sumA'])
EO = sumframe['sumE'].corr(sumframe['sumO'])
EN = sumframe['sumE'].corr(sumframe['sumN'])
EC = sumframe['sumE'].corr(sumframe['sumC'])

In [34]:
NA = sumframe['sumN'].corr(sumframe['sumA'])
NO = sumframe['sumN'].corr(sumframe['sumO'])
NE = sumframe['sumN'].corr(sumframe['sumE'])
NC = sumframe['sumN'].corr(sumframe['sumC'])

In [35]:
CA = sumframe['sumC'].corr(sumframe['sumA'])
CO = sumframe['sumC'].corr(sumframe['sumO'])
CE = sumframe['sumC'].corr(sumframe['sumE'])
CN = sumframe['sumC'].corr(sumframe['sumN'])

In [36]:
print(f'Correlation between A trait and O trait is {AO}')
print(f'Correlation between A trait and E trait is {AE}')
print(f'Correlation between A trait and N trait is {AN}')
print(f'Correlation between A trait and C trait is {AC}')
print(f'Correlation between O trait and A trait is {OA}')
print(f'Correlation between O trait and E trait is {OE}')
print(f'Correlation between O trait and N trait is {ON}')
print(f'Correlation between O trait and C trait is {OC}')
print(f'Correlation between E trait and A trait is {EA}')
print(f'Correlation between E trait and O trait is {EO}')
print(f'Correlation between E trait and N trait is {EN}')
print(f'Correlation between E trait and C trait is {EC}')
print(f'Correlation between N trait and A trait is {NA}')
print(f'Correlation between N trait and O trait is {NO}')
print(f'Correlation between N trait and E trait is {NE}')
print(f'Correlation between N trait and C trait is {NC}')
print(f'Correlation between C trait and A trait is {CA}')
print(f'Correlation between C trait and O trait is {CO}')
print(f'Correlation between C trait and E trait is {CE}')
print(f'Correlation between C trait and N trait is {CN}')

Correlation between A trait and O trait is 0.11747393711168523
Correlation between A trait and E trait is 0.3321494908212322
Correlation between A trait and N trait is 0.11124497299425165
Correlation between A trait and C trait is 0.17541079853030112
Correlation between O trait and A trait is 0.11747393711168524
Correlation between O trait and E trait is 0.16542777732714636
Correlation between O trait and N trait is 0.09976012319859864
Correlation between O trait and C trait is 0.08583733226917369
Correlation between E trait and A trait is 0.3321494908212322
Correlation between E trait and O trait is 0.16542777732714634
Correlation between E trait and N trait is 0.2623570118284341
Correlation between E trait and C trait is 0.10667007206834368
Correlation between N trait and A trait is 0.11124497299425165
Correlation between N trait and O trait is 0.09976012319859866
Correlation between N trait and E trait is 0.26235701182843413
Correlation between N trait and C trait is 0.2595399480511912
Correlation between C trait and A trait is 0.17541079853030112
Correlation between C trait and O trait is 0.08583733226917369
Correlation between C trait and E trait is 0.10667007206834368
Correlation between C trait and N trait is 0.2595399480511912

In [37]:
ageframe=(dfnoZero['age'])
ageframe

0        53
1        46
2        14
3        19
4        25
         ..
19379    15
19380    37
19381    16
19382    16
19383    35
Name: age, Length: 19384, dtype: int64

In [38]:
agevpers = [sumframe, ageframe]
agevpersonality = pd.concat(agevpers, axis=1)
agevpersonality

       sumA  sumO  sumE  sumN  sumC  age
0        22    25    14     1    23   53
1        11     8    -8   -19    18   46
2        14    27     5   -34    25   14
3        13    23    -8   -31     2   19
4        20    16     4   -18    10   25
...     ...   ...   ...   ...   ...  ...
19379    18    17    -9   -29    12   15
19380    12    12    -5    -9     8   37
19381     2    19    -9   -38    -1   16
19382    14    24    -9   -28    19   16
19383    11    31    -6   -25    12   35

[19384 rows x 6 columns]

In [39]:
sortedAge = agevpersonality.sort_values(by=['age'])
sortedAge.index=range(19384)
sortedAge

       sumA  sumO  sumE  sumN  sumC        age
0        17    30     7    -1    17         13
1        12    17     3   -11     4         13
2         0    25   -10   -32    -3         13
3         3    21   -12   -27    16         13
4        18    28   -11    -8    20         13
...     ...   ...   ...   ...   ...        ...
19379     5     8    -7   -22     5       1998
19380     8    10    -7   -13    11       1999
19381     9    13     4    -5     7       2000
19382    19    27    -8    -6     8     412434
19383     6    28    16   -26    14  999999999

[19384 rows x 6 columns]

## Delete ages that are over 100 (less likely to be a proper data entry)

In [55]:
usableData = sortedAge[sortedAge.age <= 100]
usableData.index=range(19222)
usableData

       sumA  sumO  sumE  sumN  sumC  age
0        17    30     7    -1    17   13
1        12    17     3   -11     4   13
2         0    25   -10   -32    -3   13
3         3    21   -12   -27    16   13
4        18    28   -11    -8    20   13
...     ...   ...   ...   ...   ...  ...
19217    15     8     7   -15     2   80
19218    10    20     0   -30    10   92
19219     6    12     0   -18     6   97
19220    21    31     7   -23    20   99
19221    10    20     0   -30    10  100

[19222 rows x 6 columns]