# Minju Yu

## Research question/interests

Is there a relationship between the personality traits extraversion and neuroticism? Specifically, do extroverts score high on emotional stability than introverts?

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("../data/raw/data.csv", sep='\t')
df
df.columns

Index(['race', 'age', 'engnat', 'gender', 'hand', 'source', 'country', 'E1',
       'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'N1', 'N2', 'N3',
       'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'A1', 'A2', 'A3', 'A4', 'A5',
       'A6', 'A7', 'A8', 'A9', 'A10', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7',
       'C8', 'C9', 'C10', 'O1', 'O2', 'O3', 'O4', 'O5', 'O6', 'O7', 'O8', 'O9',
       'O10'],
      dtype='object')

## EDA

In [12]:
print(df.shape)
print(df.head())
print(df.columns)

(19719, 57)
   race  age  engnat  gender  hand  source country  E1  E2  E3  ...  O1  O2  \
0     3   53       1       1     1       1      US   4   2   5  ...   4   1
1    13   46       1       2     1       1      US   2   2   3  ...   3   3
2     1   14       2       2     1       1      PK   5   1   1  ...   4   5
3     3   19       2       2     1       1      RO   2   5   2  ...   4   3
4    11   25       2       2     1       2      US   3   1   3  ...   3   1

   O3  O4  O5  O6  O7  O8  O9  O10
0   3   1   5   1   4   2   5    5
1   3   3   2   3   3   1   3    2
2   5   1   5   1   5   5   5    5
3   5   2   4   2   5   2   5    5
4   1   1   3   1   3   1   5    3

[5 rows x 57 columns]
Index(['race', 'age', 'engnat', 'gender', 'hand', 'source', 'country', 'E1',
       'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'N1', 'N2', 'N3',
       'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'A1', 'A2', 'A3', 'A4', 'A5',
       'A6', 'A7', 'A8', 'A9', 'A10', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7',
       'C8', 'C9', 'C10', 'O1', 'O2', 'O3', 'O4', 'O5', 'O6', 'O7', 'O8', 'O9',
       'O10'],
      dtype='object')

In [21]:
df.nunique(axis=0)
#df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

race        14
age        104
engnat       3
gender       4
hand         4
source       5
country    158
E1           6
E2           6
E3           6
E4           6
E5           6
E6           6
E7           6
E8           6
E9           6
E10          6
N1           6
N2           6
N3           6
N4           6
N5           6
N6           6
N7           6
N8           6
N9           6
N10          6
A1           6
A2           6
A3           6
A4           6
A5           6
A6           6
A7           6
A8           6
A9           6
A10          6
C1           6
C2           6
C3           6
C4           6
C5           6
C6           6
C7           6
C8           6
C9           6
C10          6
O1           6
O2           6
O3           6
O4           6
O5           6
O6           6
O7           6
O8           6
O9           6
O10          6
dtype: int64

In [22]:
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,race,age,engnat,gender,hand,source,E1,E2,E3,E4,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
count,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,...,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000
mean,5.324205,50767.027892,1.365130,1.616918,1.130128,1.952280,2.628937,2.759724,3.416755,3.152036,...,3.692479,2.149653,4.126122,2.079416,3.873016,1.794766,4.072975,3.208023,4.133577,4.004767
std,4.019064,7121271.921824,0.488796,0.499122,0.413663,1.504770,1.232565,1.313818,1.236820,1.222822,...,1.116302,1.135227,1.006806,1.109751,0.939655,1.068513,0.923595,1.258921,0.982868,0.983729
min,0.000000,13.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,18.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,2.000000,...,3.000000,1.000000,4.000000,1.000000,3.000000,1.000000,4.000000,2.000000,4.000000,3.000000
50%,3.000000,22.000000,1.000000,2.000000,1.000000,1.000000,3.000000,3.000000,4.000000,3.000000,...,4.000000,2.000000,4.000000,2.000000,4.000000,1.000000,4.000000,3.000000,4.000000,4.000000
75%,8.000000,31.000000,2.000000,2.000000,1.000000,2.000000,4.000000,4.000000,4.000000,4.000000,...,5.000000,3.000000,5.000000,3.000000,5.000000,2.000000,5.000000,4.000000,5.000000,5.000000
max,13.000000,999999999.000000,2.000000,3.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [19]:
#new_cols = [col for col in dta.columns if 'E' in col] 

df_new = df.filter(regex='E|N')

,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19715,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19716,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19717,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19718,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
corr = df_new.corr()
print(corr)

           E1        E2        E3        E4        E5        E6        E7  \
E1   1.000000 -0.421009  0.474275 -0.483781  0.479101 -0.346676  0.588100
E2  -0.421009  1.000000 -0.445537  0.527723 -0.539518  0.570819 -0.479932
E3   0.474275 -0.445537  1.000000 -0.481006  0.590660 -0.393412  0.579883
E4  -0.483781  0.527723 -0.481006  1.000000 -0.510068  0.474928 -0.503229
E5   0.479101 -0.539518  0.590660 -0.510068  1.000000 -0.480675  0.630796
E6  -0.346676  0.570819 -0.393412  0.474928 -0.480675  1.000000 -0.405476
E7   0.588100 -0.479932  0.579883 -0.503229  0.630796 -0.405476  1.000000
E8  -0.366534  0.373481 -0.320097  0.446221 -0.344639  0.320371 -0.344825
E9   0.455476 -0.364713  0.423473 -0.450755  0.416147 -0.330175  0.433230
E10 -0.414282  0.463642 -0.473928  0.510477 -0.542389  0.412007 -0.533139
N1  -0.113651  0.060808 -0.234579  0.154786 -0.126033  0.107439 -0.140447
N2   0.151386 -0.029237  0.281804 -0.088983  0.132877 -0.050832  0.155820
N3  -0.119553  0.057949 -0.198323  0.180651 -0.094317  0.088337 -0.131736
N4   0.135326 -0.065595  0.199955 -0.114245  0.115515 -0.052615  0.130521
N5  -0.071058  0.044101 -0.183207  0.128268 -0.101736  0.138333 -0.109312
N6  -0.101821  0.041922 -0.221093  0.154214 -0.119409  0.127916 -0.142770
N7  -0.045938  0.037769 -0.210228  0.138420 -0.102190  0.112145 -0.092573
N8  -0.054888  0.053351 -0.234068  0.145239 -0.121051  0.121092 -0.113498
N9  -0.092058  0.046099 -0.251364  0.149071 -0.141739  0.121757 -0.146747
N10 -0.194235  0.188779 -0.360656  0.277181 -0.240457  0.202192 -0.240949

           E8        E9       E10        N1        N2        N3        N4  \
E1  -0.366534  0.455476 -0.414282 -0.113651  0.151386 -0.119553  0.135326
E2   0.373481 -0.364713  0.463642  0.060808 -0.029237  0.057949 -0.065595
E3  -0.320097  0.423473 -0.473928 -0.234579  0.281804 -0.198323  0.199955
E4   0.446221 -0.450755  0.510477  0.154786 -0.088983  0.180651 -0.114245
E5  -0.344639  0.416147 -0.542389 -0.126033  0.132877 -0.094317  0.115515
E6   0.320371 -0.330175  0.412007  0.107439 -0.050832  0.088337 -0.052615
E7  -0.344825  0.433230 -0.533139 -0.140447  0.155820 -0.131736  0.130521
E8   1.000000 -0.514314  0.380939  0.089123 -0.051126  0.112310 -0.082313
E9  -0.514314  1.000000 -0.371440 -0.128761  0.135756 -0.111499  0.119811
E10  0.380939 -0.371440  1.000000  0.181037 -0.092602  0.200157 -0.113060
N1   0.089123 -0.128761  0.181037  1.000000 -0.464167  0.553714 -0.250632
N2  -0.051126  0.135756 -0.092602 -0.464167  1.000000 -0.395833  0.263703
N3   0.112310 -0.111499  0.200157  0.553714 -0.395833  1.000000 -0.250714
N4  -0.082313  0.119811 -0.113060 -0.250632  0.263703 -0.250714  1.000000
N5   0.042486 -0.061148  0.149534  0.389769 -0.257962  0.319139 -0.129746
N6   0.054127 -0.083486  0.177927  0.535274 -0.382252  0.447231 -0.211495
N7   0.021320 -0.025855  0.161981  0.415586 -0.294504  0.356049 -0.237697
N8   0.021223 -0.044048  0.157125  0.433760 -0.326569  0.354323 -0.249952
N9   0.069231 -0.074122  0.204016  0.485879 -0.339164  0.383926 -0.195854
N10  0.133073 -0.154636  0.248718  0.421863 -0.358016  0.393290 -0.392864

           N5        N6        N7        N8        N9       N10
E1  -0.071058 -0.101821 -0.045938 -0.054888 -0.092058 -0.194235
E2   0.044101  0.041922  0.037769  0.053351  0.046099  0.188779
E3  -0.183207 -0.221093 -0.210228 -0.234068 -0.251364 -0.360656
E4   0.128268  0.154214  0.138420  0.145239  0.149071  0.277181
E5  -0.101736 -0.119409 -0.102190 -0.121051 -0.141739 -0.240457
E6   0.138333  0.127916  0.112145  0.121092  0.121757  0.202192
E7  -0.109312 -0.142770 -0.092573 -0.113498 -0.146747 -0.240949
E8   0.042486  0.054127  0.021320  0.021223  0.069231  0.133073
E9  -0.061148 -0.083486 -0.025855 -0.044048 -0.074122 -0.154636
E10  0.149534  0.177927  0.161981  0.157125  0.204016  0.248718
N1   0.389769  0.535274  0.415586  0.433760  0.485879  0.421863
N2  -0.257962 -0.382252 -0.294504 -0.326569 -0.339164 -0.358016
N3   0.319139  0.447231  0.356049  0.354323  0.383926  0.393290
N4  -0.129746 -0.211495 -0.237697 -0.249952 -0.195854 -0.392864
N5   1.000000  0.480134  0.370887  0.392354  0.432483  0.313838
N6   0.480134  1.000000  0.506894  0.540063  0.603025  0.449610
N7   0.370887  0.506894  1.000000  0.768083  0.503681  0.480164
N8   0.392354  0.540063  0.768083  1.000000  0.528335  0.541539
N9   0.432483  0.603025  0.503681  0.528335  1.000000  0.414072
N10  0.313838  0.449610  0.480164  0.541539  0.414072  1.000000