# Mel Jensen

## Research question/interests

Briefly describe your research question or interests here.

In [ ]:
!pip install opendatasets
!pip install pandas

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: click in c:\users\melan\anaconda3\lib\site-packages (from opendatasets) (7.1.2)
Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: tqdm in c:\users\melan\anaconda3\lib\site-packages (from opendatasets) (4.50.2)
Requirement already satisfied: six>=1.10 in c:\users\melan\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in c:\users\melan\anaconda3\lib\site-packages (from kaggle->opendatasets) (2020.6.20)
Requirement already satisfied: python-dateutil in c:\users\melan\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.1)
Requirement already satisfied: requests in c:\users\melan\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.24.0)
Collecting python-slugify
  Downloading python_slugify-6.1.2-py2.py3-none-any.whl (9.4 kB)
Requirement already satisfied: urllib3 in c:\users\melan\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\melan\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\melan\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.0.4)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73057 sha256=c50c30e92939b2296a881847c3c5ab27a0d10b28daa965bdd6e96952f08fc711
  Stored in directory: c:\users\melan\appdata\local\pip\cache\wheels\29\da\11\144cc25aebdaeb4931b231e25fd34b394e6a5725cbb2f50106
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle, opendatasets
Successfully installed kaggle-1.5.12 opendatasets-0.1.22 python-slugify-6.1.2 text-unidecode-1.3
Requirement already satisfied: pandas in c:\users\melan\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\melan\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\melan\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\melan\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\melan\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import opendatasets as od
import pandas

od.download(
    "https://www.kaggle.com/datasets/lucasgreenwell/ocean-five-factor-personality-test-responses")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: meljensen
Your Kaggle Key: ········

100%|███████████████████████████████████████████████████████████████████████████████| 511k/511k [00:00<00:00, 3.02MB/s]

Downloading ocean-five-factor-personality-test-responses.zip to .\ocean-five-factor-personality-test-responses

In [ ]:
import pandas as pds

file = ('ocean-five-factor-personality-test-responses/\data.xlsx')
newData = pds.read_excel(file)

newData

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,11,15,1,2,1,2,SG,1,4,3,...,1,3,5,3,4,1,4,2,5,3
19715,3,37,1,2,1,2,US,2,3,2,...,1,2,3,2,3,3,4,2,3,3
19716,5,16,2,1,1,2,US,2,5,4,...,5,3,1,3,4,1,1,5,5,5
19717,12,16,1,1,1,5,NG,1,4,2,...,3,2,5,3,4,1,5,3,5,5
19718,3,35,1,1,1,1,US,2,3,1,...,5,1,5,1,4,1,5,5,5,5