# Minju Yu

## Research question/interests

Is there a relationship between the personality traits extraversion and neuroticism? Specifically, do extroverts score high on emotional stability than introverts?

In [ ]:
!pip install opendatasets
!pip install pandas
!pip install openpyxl

Requirement already satisfied: opendatasets in c:\users\minju yu\miniconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\minju yu\miniconda3\lib\site-packages (from opendatasets) (4.63.0)
Requirement already satisfied: kaggle in c:\users\minju yu\miniconda3\lib\site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in c:\users\minju yu\miniconda3\lib\site-packages (from opendatasets) (8.1.3)
Requirement already satisfied: colorama in c:\users\minju yu\miniconda3\lib\site-packages (from click->opendatasets) (0.4.4)
Requirement already satisfied: python-slugify in c:\users\minju yu\miniconda3\lib\site-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: requests in c:\users\minju yu\miniconda3\lib\site-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: urllib3 in c:\users\minju yu\miniconda3\lib\site-packages (from kaggle->opendatasets) (1.26.8)
Requirement already satisfied: six>=1.10 in c:\users\minju yu\miniconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: python-dateutil in c:\users\minju yu\miniconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: certifi in c:\users\minju yu\miniconda3\lib\site-packages (from kaggle->opendatasets) (2022.9.24)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\minju yu\miniconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\minju yu\miniconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\minju yu\miniconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: pandas in c:\users\minju yu\miniconda3\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\minju yu\miniconda3\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\minju yu\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\minju yu\miniconda3\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in c:\users\minju yu\miniconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\minju yu\miniconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\minju yu\miniconda3\lib\site-packages (from openpyxl) (1.1.0)

In [ ]:
import opendatasets as od

In [ ]:
import pandas as pds

file = ('ocean-five-factor-personality-test-responses/\data.xlsx')
newData = pds.read_excel(file)

newData

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,11,15,1,2,1,2,SG,1,4,3,...,1,3,5,3,4,1,4,2,5,3
19715,3,37,1,2,1,2,US,2,3,2,...,1,2,3,2,3,3,4,2,3,3
19716,5,16,2,1,1,2,US,2,5,4,...,5,3,1,3,4,1,1,5,5,5
19717,12,16,1,1,1,5,NG,1,4,2,...,3,2,5,3,4,1,5,3,5,5
19718,3,35,1,1,1,1,US,2,3,1,...,5,1,5,1,4,1,5,5,5,5