# Ella Serber

## Research question/interests
My primary research question asks: Is there a relationship between gender and personality traits?
    
 Hypothesis 1: There is a significant relationship between gender and personality traits. 

My secondary research question asks: How do scores between men and women differ on the 5 personality traits?
    
Hypothesis 2: Based on extant research, on average, women will show higher scores than men on Extraversion,          Agreeableness, and Neuroticism and there are will be no significant gender differences for Conscientiousness or Openness.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dat_1 = pd.read_csv("../data/raw/data.csv", sep='\t')
dat_1

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19714,11,15,1,2,1,2,SG,1,4,3,...,1,3,5,3,4,1,4,2,5,3
19715,3,37,1,2,1,2,US,2,3,2,...,1,2,3,2,3,3,4,2,3,3
19716,5,16,2,1,1,2,US,2,5,4,...,5,3,1,3,4,1,1,5,5,5
19717,12,16,1,1,1,5,NG,1,4,2,...,3,2,5,3,4,1,5,3,5,5
19718,3,35,1,1,1,1,US,2,3,1,...,5,1,5,1,4,1,5,5,5,5

## EDA

In [ ]:
dat_1.shape
#Gives number of rows and columns

(19719, 57)

In [ ]:
dat_1.columns
#Gives all column names

Index(['race', 'age', 'engnat', 'gender', 'hand', 'source', 'country', 'E1',
       'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'N1', 'N2', 'N3',
       'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'A1', 'A2', 'A3', 'A4', 'A5',
       'A6', 'A7', 'A8', 'A9', 'A10', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7',
       'C8', 'C9', 'C10', 'O1', 'O2', 'O3', 'O4', 'O5', 'O6', 'O7', 'O8', 'O9',
       'O10'],
      dtype='object')

In [ ]:
dat_1.head(5)
#Gives shortened dataframe for specified number of rows

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3

In [ ]:
dat_1.nunique(axis=0)
#Gives number of unique values for each column

race        14
age        104
engnat       3
gender       4
hand         4
source       5
country    158
E1           6
E2           6
E3           6
E4           6
E5           6
E6           6
E7           6
E8           6
E9           6
E10          6
N1           6
N2           6
N3           6
N4           6
N5           6
N6           6
N7           6
N8           6
N9           6
N10          6
A1           6
A2           6
A3           6
A4           6
A5           6
A6           6
A7           6
A8           6
A9           6
A10          6
C1           6
C2           6
C3           6
C4           6
C5           6
C6           6
C7           6
C8           6
C9           6
C10          6
O1           6
O2           6
O3           6
O4           6
O5           6
O6           6
O7           6
O8           6
O9           6
O10          6
dtype: int64

In [ ]:
dat_1.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))
#Descriptive stats for dataframe 
#Issues with age (why is mean 50767?)

,race,age,engnat,gender,hand,source,E1,E2,E3,E4,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
count,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,...,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000,19719.000000
mean,5.324205,50767.027892,1.365130,1.616918,1.130128,1.952280,2.628937,2.759724,3.416755,3.152036,...,3.692479,2.149653,4.126122,2.079416,3.873016,1.794766,4.072975,3.208023,4.133577,4.004767
std,4.019064,7121271.921823,0.488796,0.499122,0.413663,1.504770,1.232565,1.313818,1.236820,1.222822,...,1.116302,1.135227,1.006806,1.109751,0.939655,1.068513,0.923595,1.258921,0.982868,0.983729
min,0.000000,13.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,18.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,2.000000,...,3.000000,1.000000,4.000000,1.000000,3.000000,1.000000,4.000000,2.000000,4.000000,3.000000
50%,3.000000,22.000000,1.000000,2.000000,1.000000,1.000000,3.000000,3.000000,4.000000,3.000000,...,4.000000,2.000000,4.000000,2.000000,4.000000,1.000000,4.000000,3.000000,4.000000,4.000000
75%,8.000000,31.000000,2.000000,2.000000,1.000000,2.000000,4.000000,4.000000,4.000000,4.000000,...,5.000000,3.000000,5.000000,3.000000,5.000000,2.000000,5.000000,4.000000,5.000000,5.000000
max,13.000000,999999999.000000,2.000000,3.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [ ]:
dat_1.age.unique()
#Gives each unique value for a column
#Not sure why there is a "99999999" value

array([       53,        46,        14,        19,        25,        31,
              20,        23,        39,        18,        17,        15,
              22,        21,        28,        26,        29,        52,
              48,        37,        42,        27,        60,        24,
              47,        35,        34,        36,        54,        45,
              32,        49,        13,        33,        16,        30,
              59,        41,        44,        43,        38,      1997,
              40,        55,        58,        51,        57,      1995,
              56,        68,        70,        50,        76,        63,
              65,      1994,        62,        61,        67,        69,
            1992,        66,      1988,      1990,      1999,        74,
              73,        64,        71,      1989,        72,      1984,
       999999999,      1993,       208,      1996,        75,      1982,
            1991,      1998,      1961,        92,       100,      1986,
            1976,    412434,      1977,        77,      2000,      1968,
              97,        80,      1974,       223,      1985,       211,
             266,        99,       188,        79,       191,        78,
            1964,       118])

In [ ]:
dat_1.E1.describe()
#descriptive stats for one column

count    19719.000000
mean         2.628937
std          1.232565
min          0.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: E1, dtype: float64

In [ ]:
dat = dat_1.copy().drop(['engnat','hand','source', 'country', 'race'], axis=1)
print(dat)
#Drop unwanted columns

       age  gender  E1  E2  E3  E4  E5  E6  E7  E8  ...  O1  O2  O3  O4  O5  \
0       53       1   4   2   5   2   5   1   4   3  ...   4   1   3   1   5
1       46       2   2   2   3   3   3   3   1   5  ...   3   3   3   3   2
2       14       2   5   1   1   4   5   1   1   5  ...   4   5   5   1   5
3       19       2   2   5   2   4   3   4   3   4  ...   4   3   5   2   4
4       25       2   3   1   3   3   3   1   3   1  ...   3   1   1   1   3
...    ...     ...  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..
19714   15       2   1   4   3   5   4   3   1   2  ...   1   3   5   3   4
19715   37       2   2   3   2   3   2   3   2   4  ...   1   2   3   2   3
19716   16       1   2   5   4   5   5   5   1   2  ...   5   3   1   3   4
19717   16       1   1   4   2   3   2   4   1   3  ...   3   2   5   3   4
19718   35       1   2   3   1   5   3   3   3   2  ...   5   1   5   1   4

       O6  O7  O8  O9  O10
0       1   4   2   5    5
1       3   3   1   3    2
2       1   5   5   5    5
3       2   5   2   5    5
4       1   3   1   5    3
...    ..  ..  ..  ..  ...
19714   1   4   2   5    3
19715   3   4   2   3    3
19716   1   1   5   5    5
19717   1   5   3   5    5
19718   1   5   5   5    5

[19719 rows x 52 columns]